:root {
    --main-font: font-family: 'Roboto', sans-serif;
        

    --main-font-color: #212121;
    --logo-font: font-family:'Raleway', sans-serif;
   
        
    --logo-font-color: #000000;
    --secondary-color:#757575;
    --accent-link-color: #2196F3;
    --button-color: #F5F4FA;
}


/*html {
    scroll-behavior: smooth;
}*/


body {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--main-font-color);
}
/*link style*/

.link {
    
    text-decoration: none;
    color: inherit;
}

.active {
    color: var(--accent-link-color);
}
/*Header styles*/
.head-site {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.logo {
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-link-color);
}
.logo-st {
    
    color: var(--logo-font-color);
}

.list {
    list-style-type: none;
}

.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-link-color);
}
.contact {
    color: #757575;
}

/* .main {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
}  */
.filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--button-color);
    border-style: none;
}

/*Webstudio styles*/

.hero-heading {
    text-transform: uppercase;
}
